<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Gmail">

              <test name="email">

                     <classes>
                              
                      <class name="test.gmailTest">

                        </class>

                      </classes>

              </test>

</suite>

 